
<header class="parallax parallax--header js-parallax--header">
    <div class="parallax__bg" style="background-image: url(<%= image_path('old.jpg')%>);"></div>
    <div class="parallax__cta parallax__cta--mini parallax__cta--bl">
        <h2>Co Design Projects</h2>
    </div>
</header>


<section class="project">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-5 col-lg-offset-1">
                <a href="<%= projects_path %>">
                    <div class="project__item" style="background-image: url(<%= image_path('sky.jpg')%>);">
                        <span>Project Title</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5">
                <a href="<%= projects_path %>">
                    <div class="project__item" style="background-image: url(<%= image_path('bridge.jpg')%>);">
                        <span>Project Title</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5 col-lg-offset-1">
                <a href="<%= projects_path %>">
                    <div class="project__item" style="background-image: url(<%= image_path('bar.jpg')%>);">
                        <span>Project Title</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5">
                <a href="<%= projects_path %>">
                    <div class="project__item" style="background-image: url(<%= image_path('church.jpg')%>);">
                        <span>Project Title</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5 col-lg-offset-1">
                <a href="<%= projects_path %>">
                    <div class="project__item" style="background-image: url(<%= image_path('bar.jpg')%>);">
                        <span>Project Title</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5">
                <a href="<%= projects_path %>">
                    <div class="project__item" style="background-image: url(<%= image_path('church.jpg')%>);">
                        <span>Project Title</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>