
<header class="parallax parallax--header js-parallax--header">
    <div class="parallax__bg" style="background-image: url(<%= image_path('city.jpg')%>);"></div>
    <div class="parallax__cta parallax__cta--mini parallax__cta--bl">
        <h2>Co Design Project Plan</h2>
    </div>
</header>

<section class="plan">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h2>Here is your suggested Approach</h2>
                <% @output.each do |answer|%>

                    <% unless answer[:title] == "Funding" || answer[:title] == "People" || answer[:title] == "Space" %>
                        <div class="answer">
                            <h3><%= answer[:title] %></h3>

                            <% if answer[:info].length > 1 %>

                                <% if answer[:title] == "Partnerships" %>
                                    <p>If would be advisable to make the following connections to improve the success of your project:</p>
                                <% end %>

                                <% answer[:info].each do |bullet| %>

                                    <ul>
                                        <li><%= image_tag 'bullet.png' %> <%= bullet %></li>
                                    </ul>
                                <% end %>

                            <% else %>
                                <p><%= answer[:info].first %></p>
                            <% end %>
                        </div>
                    <% end %>

                <% end %>
            </div>
        </div>

        <div class="row">
            <% @output.each do |answer|%>

                <% if answer[:title] == "Funding" || answer[:title] == "People" || answer[:title] == "Space" %>

                    <div class="col-sm-12 col-md-4">
                        <div class="answer__tile">
                            <h3><%= answer[:title] %></h3>

                            <% if answer[:info].length > 1 %>

                                <% answer[:info].each do |bullet| %>

                                    <ul>
                                        <li><%= bullet %></li>
                                    </ul>
                                <% end %>

                            <% else %>
                                <p><%= answer[:info].first %></p>
                            <% end %>

                            <% if answer[:title] == "Funding" %>

                                <p>Below are a number of ideas for obtaining funding:</p>

                                <ul>
                                    <li><strong>Corporate fundraising</strong> - sponsorship from businesses</li>
                                    <li><strong>Donor fundraising </strong> - sponsorship from individuals</li>
                                    <li><strong>Community fundraising</strong>  - small scale initiatives by community members selling products or services, e.g. cake sale.</li>
                                    <li><strong>Digital fundraising</strong>  - targeting a non-local audience, e.g. crowdfunding, social media.</li>
                                    <li><strong>Grant fundraising</strong>  - local or national trust funds</li>
                                </ul>
                            <% end %>

                        </div>
                    </div>
                <% end %>

            <% end %>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="signoff">
                    <h3>Good luck with your project!<h3> <p> Let us know how it goes by tweeting us <a href="#">@codesigntoolkit</a></p>
                </div>
            </div>
        </div>
    </div>
</section>