<!DOCTYPE html>
<html>
<head>
  <title>Plans</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Toolkit</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Dashboard", dashboard_path %></li>

            <% unless admin_signed_in? %>
                <li><%= link_to "Login", new_admin_session_path %></li>
                <li><%= link_to "Sign up", new_admin_registration_path %></li>
            <% end %>

            <% if admin_signed_in? %>
              <li><%= link_to :logout, destroy_admin_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <header class="jumbotron">
        <div class="container">
          <h1> Co Design Toolkit </h1>
          <% flash.each do |k,v| %>
              <div class="alert alert-<%= k %>">
                  <p><%= v %></p>
              </div>
          <% end %>
        </div>
    </header>

    <main class="content container">
        <%= yield %>
    </main>

</body>
</html>
