<!DOCTYPE html>
<html>
<head>
  <title>Plans</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <% flash.each do |k,v| %>
            <div class="<%= k %>">
                <p><%= v %></p>
            </div>
        <% end %>
        <h1> Co Design Toolkit </h1>
    </header>
    <main class="content">
        <%= yield %>
    </main>

</body>
</html>
