<!DOCTYPE html>
<html>
<head>
  <title>Plans</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Toolkit</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About</a></li>
            <li><a href="/dashboard">Dashboard</a></li>

          </ul>
        </div>
      </div>
    </nav>

    <header class="jumbotron">
        <div class="container">
          <h1> Co Design Toolkit </h1>
          <% flash.each do |k,v| %>
              <div class="alert alert-<%= k %>">
                  <p><%= v %></p>
              </div>
          <% end %>
        </div>
    </header>

    <main class="content container">
        <%= yield %>
    </main>

</body>
</html>
