<!DOCTYPE html>
<html>
<head>
    <title>Co Design toolkit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <nav class="global-nav js-navbar" role="navigation">

        <div class="global-nav--inner" >

              <%= link_to "Home", root_path %>
              <%= link_to "About", about_path %>
              <%= link_to "Projects", projects_path %>
              <%= link_to "New Plan", new_plan_path, { :class => 'btn'} %>

            <% unless admin_signed_in? %>
                <!-- <%= link_to "Login", new_admin_session_path %> -->
                <!-- <%= link_to "Sign up", new_admin_registration_path %> -->
            <% end %>

            <% if admin_signed_in? %>
             <!--  <%= link_to "Dashboard", dashboard_path %>
              <%= link_to :logout, destroy_admin_session_path, :method => :delete %> -->
            <% end %>
          </ul>
        </div>
    </nav>

    <% flash.each do |k,v| %>
        <div class="alert alert-<%= k %>">
            <p><%= v %></p>
        </div>
    <% end %>

    <%= yield %>


    <footer>
        <p> 2014 &copy; Dan Bagnall, Co Design Toolkit </p>
    </footer>

</body>
</html>
